*.aux
*.bak
*.bbl
*.bcf
*.beam
*.bib.bak
*.blg
*-blx.bib
*.brf
.classpath
*.cmake
CMakeCache.txt
CMakeFiles/
*.dvi
.idea/
*.idx
*.ilg
*.iml
*.ind
.ipynb_checkpoints/
*.loa
*.lof
*.log
*.loq
*.lot
*.m~
*.nav
nbproject/
*.o
octave-workspace
*.out
*.pdf
.project
*.ps
*.pyc
*.run.xml
*.snm
*.spl
*.swp
*.synctex.gz
*.synctex.gz(busy)
target/
*.tex.swo
*.toc
*.vrb
!**/fig_ficha_catalografica.pdf
